[Desktop Entry]
Name=Pdf Password
Type=Application
Comment=PDF Password allows to Password-Protect PDF documents
Categories=Office;Finance;GTK

Icon=io.github.johannesjh.pdfpassword
Exec=pdfpassword
Terminal=false
StartupNotify=true
